
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Figtree:ital,wght@0,300..900;1,300..900&family=Orbit&display=swap');
* {
  cursor: none !important;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
  font-size: 62.5%;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: center;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    color: black;
    z-index: 993;
    font-size: 1.0rem;
}
#index{
  background-color: #fff;
  
}
nav {
    width: 350px;
    padding: 10px 0;
    background-color: #f9f9f9df;
    border-radius: 50px;
    backdrop-filter: blur(4px);

}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0 10px
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-family: "SE-Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
nav ul li{
  padding: 0 20px;
}
nav ul li a:hover {
  font-weight: 900;
}
nav ul li a.active {
  font-weight: 900;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.full-page {
  height: 100vh;
  opacity: 1;
}

.cursor {
  width: 15px;
  height: 15px;
  background-color: rgba(55, 55, 55, 0.7);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 999;
}
.index-h2{
  font-size: 0.8rem;
  color: #bbb;
  margin-bottom: 50px;
  font-family: "SE-Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  width: 78vw;
  display: flex;
  justify-content: flex-start

}
  .project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
  }
  .project_card{
    width: 20vw;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 0 20px;
    font-size: 1.0rem;
    line-height: 20pt;
    font-family: "SE-Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 3px 1px 10px rgba(141, 141, 141, 0.215);
    transition: transform 1.5s ease-in-out;
    text-decoration-line: none;
    color: #000;
    
  }
  .project_card.animate-up {
    transform: translateY(-20px);
}

 .project_title{
    display: flex;
    flex-direction: column;
    font-family: "SE-Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .project img{
    width: 20vw;
  }
  .project h4{
    margin-bottom: 10px;
  }
 .project_category{
    font-size: 0.8rem;
    color: #bbb;
  }
  .project_detail{
    color: #222;
    padding-top: 15px;
    font-size: 1.0rem;
    line-height: 12pt;
  }
#hi {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  position: relative;
  overflow: hidden;

}
#falling-container {
  position: relative;
  overflow: hidden;
}

.falling-text {
  position: absolute;
  padding: 10px;
  font-size: 1.0rem;
  color: #33333300;
  text-align: center;
  background-color: #ffffffc8;
  backdrop-filter: blur(3px);
  border-radius: 5px;
  box-shadow: 2px 1px 5px rgba(34, 34, 34, 0.13); /* 미세한 그림자 */
  -webkit-user-select: none;
 -moz-user-select: none;
 -ms-use-select: none;
 user-select: none;
}

.hi-h2{
  position: absolute;
  top: 200px;
  font-family: "SE-Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.0rem;
}
.hi-p{
  position: absolute;
  top: 250px;
  font-size: 0.8rem;
  font-family: "SE-Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c6c6c6;
  z-index: 3;

}

.hi-info {
  width: 87vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 80px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
.hi-info-left{
  font-size: 0.8rem;
  font-family: "SE-Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hi-info-left span{
  padding-left: 5px;
  font-size: 0.8rem;
}



.description-type {
  font-size: 0.8rem;
  color: #bbb;
  margin: 0 0 10px 0;
  font-family: "SE-Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.description-title {
  font-size: 1.0rem;
  color: #000;
  margin-bottom: 200px;
  font-family: "SE-Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.description-text {
  font-size: 1.0rem;
  color: #2d2d2d;
  text-align: justify;
  font-family: "SE-Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: end;
  line-height: 16pt;
}

.description-area {
  width: 30vw;
  text-align: end;
}
.description-right{
  display: flex;
  flex-direction: row;
}

.skills-hr{
  margin-right: 80px;
  width: 1px;
  height: 450px;
  background-color: #000;
}

.skills-tip {
  display: flex;
  justify-content: end;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
.skills-tip p{
  font-size: 0.8rem;
  color: #bbb;
  font-family: "SE-Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

